.loadButton {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.loadButton button {
	font-size: 1.2rem;
	font-family: inherit;
	cursor: pointer;
	align-self: center;
	margin: 1rem;
	margin-bottom: 2rem;
	color: #e1e1e1;
	border: 2px solid #ffffff;
	padding: 8px 20px;
	background: transparent;
	transition: all ease 0.2s;
	z-index: 400;
}

.loadButton button:hover {
	box-shadow: 0 0 15px #065a60;
	transform: scale(1.05);
}

.loadButton button:active {
	box-shadow: 0 0 20px #3e1f47;
	transform: scale(0.95);
}
